* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-none {
    display: none !important;
}

.site_up {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background-color: #002D42;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.site_up a {
    color: #fff;
}

.site_up a:hover {
    color: #fff;
}

.container {
    width: 84.4788% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 699;
}

header .parent {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}


.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #002D42;

}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #002D42;
}

.dropdown:hover .dropdown-content {
    display: block;
}


header .child {
    display: flex;
    height: 74px;
    align-items: center;
}

header .text_one {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 0;
    padding-left: 30px;
    color: #002D42;
}

header .logo {
    padding-right: 11px;
    width: 74px;
    height: 74px;
}

header .badge {
    border: 1px solid rgba(0, 45, 66, 0.07);
    border-radius: 1000px;
    padding: 4px;
    background-color: transparent;
    height: 53px;
    margin-top: 11px;
    gap: 5px;
}

header .header_badge {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    padding: 12px 16px;
    margin-bottom: 0;
    color: #002D42;
    background: rgba(0, 45, 66, 0.04);
    border-radius: 10000px;
    border: none;

}

header .btn_language {
    width: 114px;
    height: 46px;
    border: 1px solid rgba(0, 45, 66, 0.2);
    border-radius: 1000px;
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 0;
    margin-right: 5px;
    color: #002D42;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

header .btn_language span {
    margin-right: 10px;
}

header .btn_register {
    background: rgba(0, 45, 66, 0.07);
    border-radius: 1000px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    border: none;
    color: #002D42;
    padding: 12px 31px;


}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: inherit !important;
    }
}

header .header_badge1:focus {
    background: rgba(0, 45, 66, 0.1);
}

header .header_badge2:focus {
    background: rgba(0, 45, 66, 0.1);
}

header .sear_ish {
    width: 610px;
    height: 74px;
    background: #FFFFFF;
    border-radius: 100px;
    padding: 5px;
    position: absolute;
    top: 84px;
    left: 34%;
    z-index: 3;
}

header .sear_ish .parent {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 45, 66, 0.1);
    border-radius: 100px;
}

header .sear_ish .parent .child {
    display: flex;
}

header .sear_ish .parent .child .btn_yonalish {
    background: rgba(0, 45, 66, 0.05);
    border-radius: 100px;
    padding: 17px 21px 16px 21px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 0;
    border: none;
    color: #002D42;
}

header .sear_ish .parent .child .btn_yonalish span {
    margin-left: 12px;
    margin-top: 2.5px;
}

header .sear_ish .parent .child .text_kasb {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-left: 16px;
    color: #002D42;
    height: 80%;
    border: none;
    outline: none;
}

header .sear_ish .parent .child .btn_result {
    background: #C3A182;
    border-radius: 100px;
    width: 125px;
    height: 54px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

header .sear_toplam {
    width: 990px;
    min-height: 564px;
    padding: 21px 29px;
    background: #FFFFFF;
    box-shadow: 0px 24px 54px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    position: absolute;
    top: 160px;
    left: 25%;
    z-index: 3;
    display: none;
}

header .sear_toplam .child1 {
    display: block;
    padding-top: 10px;
    margin-right: 13px;
}

header .sear_toplam .child2 {
    padding-top: 10px;
    margin-right: 40px;
    padding-left: 9px;
    border-left: 1px solid #D9DFE3;
}

header .child1 img {
    width: 16px;
    height: 16px;
}

header .sear_toplam .child1 .element {
    width: 278px;
    height: 62px;
    border-radius: 12px;
    padding: 10px 11px 12px 21px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

header .sear_toplam .child1 .element:hover {
    background: #E6EBED;
}

header .sear_toplam .child1 .element:hover .text__one span {
    background: #FFFFFF;
}

header .sear_toplam .child1 .element .text__one {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #012E42;
    margin-bottom: 0;
}

header .sear_toplam .child1 .element .text__one span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    padding: 3px 5px;
    background: #E6EAEC;
    border-radius: 25px;
    color: #012E42;
}

header .search {
    width: 610px;
    height: 74px;
    background: #FFFFFF;
    border-radius: 100px;
    padding: 5px;
    position: absolute;
    top: 84px;
    left: 34%;
    z-index: 3;
    display: none;
}

header .search .parent {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 45, 66, 0.1);
    border-radius: 100px;
}

header .search .parent .child {
    display: flex;
}

header .search .parent .child .text_kasb {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-left: 16px;
    color: #002D42;
    height: 80%;
    width: 27.3em;
    border: none;
    outline: none;
}

header .search .parent .child .btn_result {
    background: #C3A182;
    border-radius: 100px;
    width: 125px;
    height: 54px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

/* JOBS */
.jobs {
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 195px;
    margin-bottom: 46px;
    margin-top: 114px;
}

.jobs .text_one {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 20px;
    color: #002D42;
}

.jobs .parent_one {
    width: 100%;
    height: 80px;
    display: flex;
    margin-bottom: 20px;
}

.jobs .parent_one .left {
    width: calc(100% - 155px);
    background: #FFFFFF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    padding: 18px 90px 18px 18px;
}

.jobs .parent_one .left .child1 {
    width: 247px;
    border-right: 1px solid rgba(0, 45, 66, 0.1);
    margin-right: 20px;
}

.jobs .parent_one .left .text_two {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    margin-bottom: 4px;
    color: #002D42;
    opacity: 0.4;
}

.jobs .parent_one .left .flex_element {
    display: flex;
}

.jobs .parent_one .left .child1 img {
    margin-right: 4px;
}

.jobs .parent_one .left .text_lupa {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 0;
    outline: none;
    background-color: transparent;
    width: 100%;
    border: none;
    color: #002D42;
}

.jobs .select-box__list::-webkit-scrollbar {
    width: 5px;
}

.jobs .select-box__list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.jobs .select-box__list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.jobs .select-box__list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.select {
    position: relative;
    min-width: 160px;
}

.select svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    stroke-width: 2px;
    stroke: #9098a9;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
}

.select select {
    -webkit-appearance: none;
    padding: 0px 5px 5px 0px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */


    color: #002D42;

    transition: all 150ms ease;
}

.select select:required:invalid {
    color: #5a667f;
}

.select select option {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    padding: 5px;
    margin-top: 10px;
    color: #012E42;

}

.select select option[value=""][disabled] {
    display: none;
}

.select select:focus {
    outline: none;
}



.jobs .parent_one .left .child2 {
    width: 160px;
    border-right: 1px solid rgba(0, 45, 66, 0.1);
    margin-right: 20px;
}

.jobs .parent_one .left .child3 {
    width: 230px;
    padding-right: 10px;
}

.jobs .parent_one .left .child3 .flex {
    display: flex;
    margin-bottom: 2px;
}


.range-slider {
    height: 5px;
    position: relative;
    background-color: #e1e9f6;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: #002D42;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -7px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #002D42;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #002D42;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}

.range-price {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 8px;
    display: flex;

}

.range-price .input2 {
    width: 32px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */


    color: #002D42;
}

.jobs label {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    margin-bottom: 0;

    color: #002D42;
}

.range-price .input1 {
    width: 27px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    color: #002D42;
}

.range-price .input {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    margin: 0px 10px 0px 10px;

    color: #002D42;
}

.jobs .parent_one .child4 {
    width: 360px;
    border-left: 1px solid rgba(0, 45, 66, 0.1);
    border-right: 1px solid rgba(0, 45, 66, 0.1);
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

.jobs .parent_one .child5 {
    width: 160px;
}

.jobs .parent_one .btn_one {
    background: #002D42;
    border-radius: 0px 8px 8px 0px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    height: 100%;
    width: 155px;
    color: #FFFFFF;
}

.jobs .parent_two {
    display: flex;
    margin-bottom: 30px;
}

.jobs .parent_two .text_one {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 0;
    text-decoration-line: underline;

    color: #002D42;
}

.jobs .parent_two .text_two {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-left: 30px;
    color: #FF3D00;
}

.jobs .parent_threee {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.jobs .parent_threee .left {
    width: 49%;
}

.jobs .parent_threee .right {
    width: 49%;
}

.jobs .parent_threee .parent_cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.jobs .parent_threee .parent_cards .child_cards {
    width: 49%;
    padding: 25px;
    background: #FFFFFF;
    border-radius: 12px;
    margin-bottom: 24px;
    border: 2px solid transparent;
}

.jobs .parent_threee .parent_cards .child_cards:hover {
    border: 2px solid #C3A182;
}

.jobs .parent_threee .parent_cards .active {
    border: 2px solid #C3A182;
}

.jobs .parent_threee .parent_cards .child_cards .flex_card {
    display: flex;
    margin-bottom: 20px;
}

.jobs .parent_threee .parent_cards .child_cards .text_onee {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    margin-bottom: 3px;
    margin-left: 7px;
    color: #002D42;
}

.jobs .parent_threee .parent_cards .child_cards .text_twoo {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 0;
    color: #002D42;
    margin-left: 7px;
    opacity: 0.4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.jobs .parent_threee .parent_cards .child_cards .text_big {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 35px;
    color: #002D42;
    opacity: 0.8;
}

.jobs .parent_threee .parent_cards .child_cards .text__four {
    display: flex;
    margin-bottom: 10px;
}

.jobs .parent_threee .parent_cards .child_cards .text_four {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    margin-right: 10px;
    margin-bottom: 0;
    color: #002D42;

    opacity: 0.4;
}

.jobs .parent_threee .parent_cards .child_cards .text__four li {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    margin-bottom: 0;
    color: #002D42;

    opacity: 0.4;
}

.jobs .parent_threee .parent_cards .child_cards .text_data {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    margin-bottom: 5px;

    color: #002D42;

}

.jobs .text_result {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 16px;
    color: #002D42;
}

.jobs .right {
    position: relative;
    width: 728px;
}

.jobs .right .text_result {
    margin-left: 16px;
}

.jobs .right .parent_right {
    width: 728px;
    height: 750px;
    background: #FFFFFF;
    border-radius: 20px;
    position: relative;
}

.jobs .right .flex_right {
    display: flex;
    width: 100%;
    padding: 30px 60px 20px 30px;
    border-bottom: 1px solid #D8DFE2;
    justify-content: space-between;
    margin-bottom: 20px;
}

.jobs .right .flex_card {
    display: flex;
}

.jobs .right .flex_card img {
    width: 64px;
    height: 64px;
    margin-right: 11px;
}

.jobs .right .text_onee {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */
    margin-bottom: 2px;

    color: #002D42;
}

.jobs .right .text_twoo {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    margin-bottom: 0;

    color: #002D42;

    opacity: 0.4;
}

.jobs .right .otclick {
    background: #C3A182;
    border-radius: 100px;
    width: 160px;
    height: 52px;
    border: none;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.jobs .right .body {
    width: 100%;
    padding: 0px 0px 52px 30px;
}

.jobs .right .text_big {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 15px;
    color: #002D42;

}

.jobs .right .flex_info {
    width: 544px;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.jobs .right .info_item {
    border: 1px solid rgba(0, 45, 66, 0.2);
    border-radius: 8px;
    padding: 8px 12px;
}

.jobs .right .info_item .text_info1 {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    margin-bottom: 0;

    color: #002D42;
}

.jobs .right .info_item .text_info2 {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    color: #002D42;
}

.jobs .right .text_opis {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    margin-bottom: 10px;
    color: #002D42;
}

.jobs .right .text_description {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    margin-bottom: 20px;
    width: 605px;
    color: #002D42;

}

.jobs .right .text_teg {
    margin-top: 5px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    margin-bottom: 10px;
    color: #002D42;
}

.jobs .right .flex_tegs {
    width: 373px;
    display: flex;
    gap: 4px;
    margin-bottom: 50px;
}

.jobs .right .item_teg {
    background: #EDF0F2;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 8px 12px;
    color: #002D42;
}

.jobs .right .flex_social {
    width: 605px;
    display: flex;
    justify-content: space-between;
}

.jobs .right .text__four {
    display: flex;
    margin-bottom: 10px;
}

.jobs .right .text_four {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-right: 16px;
    margin-bottom: 0;
    color: #002D42;

    opacity: 0.4;
}

.jobs .right .text__four li {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 0;
    color: #002D42;

    opacity: 0.4;
}

.jobs .right .text_data {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */

    color: #002D42;

}

.jobs .right .right_social {
    display: flex;
    gap: 10px;
}

.jobs .right .social_flex {
    display: flex;
    gap: 5px;
}

.jobs .right .social_flex img {
    width: 24px;
    height: 24px;
}

.jobs .right .text_social {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-top: 3px;
    margin-bottom: 0;
    color: #002D42;

}

.jobs .left .bolwe {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 9px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    color: #002D42;
    border: none;
}


/* FOOTER */

footer {
    width: 100%;

}

footer .parent_one {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .parent_one .flex_btns {
    display: flex;
    margin-bottom: 25px;
}

footer .parent_one .flex_btns .btn_one {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    padding: 15px 22px;
    border: 1px solid #002D42;
    border-radius: 100px;
    letter-spacing: 0.02em;
    background-color: transparent;
    color: #002D42;
    margin-right: 20px;
}

footer .parent_one .flex_btns .btn_two {
    background: #E6EAED;
    border-radius: 53px;
    padding: 7px 35px 9.32px 17px;
    display: flex;
    align-items: stretch;
    border: none;
    margin-right: 4px;

}

footer .parent_one .flex_btns ._btn_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align-last: left;
    color: #002D42;
    margin-bottom: 0;
    opacity: 0.5;
    margin-left: 4px;
    margin-top: 1px;
}

footer .parent_one .flex_btns .btn_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height, or 125% */
    margin-bottom: 0;

    color: #002D42;

}

footer .parent_one .text_one {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    margin-bottom: 6px;

    color: #002D42;
}

footer .parent_one .text_two {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    margin-bottom: 36px;

    color: #002D42;

    opacity: 0.4;
}

footer .parent_one .right {
    display: flex;
    padding-top: 95px;
}

footer .parent_one .text_phone {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    margin-right: 41px;
    text-decoration: none;
    color: #002D42;
    margin-bottom: 0;
    margin-top: 5px;

}

footer .parent_one .social {
    display: flex;
    gap: 30px;
}

footer .parent_two {
    width: 100%;
    background: #002D42;
    padding: 26px 0px;
}

footer .parent_two .parent_texts {
    display: flex;
    justify-content: space-between;
}

footer .parent_two .parent_texts .left_texts {
    display: flex;
}

footer .parent_two .parent_texts .left_texts .text_one {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    margin-right: 17px;
    margin-bottom: 0;
    color: #FFFFFF;

    opacity: 0.4;
}

footer .parent_two .parent_texts .left_texts .text_two {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    margin-left: 17px;
    margin-bottom: 0;
    color: #FFFFFF;

}

footer .parent_two .parent_texts .right_texts .text_three {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 0;
    color: #FFFFFF;
}

footer .parent_two .parent_texts .right_texts .text_three span {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    margin-right: 8px;
    margin-bottom: 0;
    color: #FFFFFF;

    opacity: 0.4;
}

.modal .text_one {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    /* identical to box height */
    margin-bottom: 3px;
    color: #002D42;
    text-align: center;
}

.modal .text_two {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* or 136% */

    text-align: center;

    color: #002D42;
    margin-bottom: 25px;
    opacity: 0.4;
}

.modal .parent_inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 61px;
}

.modal .parent_inputs .inputs {
    width: 49%;
    height: 66px;
    background: #EDF0F2;
    border-radius: 7px;
    padding: 12px 20px;
}

.modal .parent_inputs .text_input {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    margin-bottom: 4px;

    color: #002D42;
}

.modal .parent_inputs .input {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 0;
    color: #5A667F;
    width: 100%;
    height: 21px;
    background-color: transparent;
    border: none;
    outline: none;
}

.modal .textarea {
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    background-color: transparent;
    border: none;
    color: #5A667F;
    outline: none;
}

.modal .file {
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    background-color: transparent !important;
    border: none;
    outline: none;
    color: #002D42;
}

.modal .parent_inputs .input::placeholder {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    margin-bottom: 0;
    color: #A5B4BD;
}

.modal .parent_inputs .input_dowland {
    width: 49%;
    height: 66px;
    border: 1px solid rgba(0, 45, 66, 0.1);
    border-radius: 7px;
    gap: 4px;
    padding: 11px 20px;
    display: flex;
}

.modal .parent_inputs .input_dowland .flex {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.modal .parent_inputs .text_dowland {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 0;
    color: #002D42;
}

.modal .btn_modal {
    width: 100%;
    height: 63px;
    background: #002D42;
    border-radius: 7px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.modal .btn_modal:hover {
    color: #FFFFFF;
}

.modal .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0px 20px 20px 20px !important;
}

.modal-header {
    border-bottom: 1px solid transparent !important;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 22px !important;
    outline: 0;
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1240px !important;
        width: 100% !important;
    }

    header .sear_ish {
        width: 610px;
        height: 74px;
        background: #FFFFFF;
        border-radius: 100px;
        padding: 5px;
        position: absolute;
        top: 84px;
        left: 27%;
        z-index: 3;

    }

    header .sear_toplam {
        width: 990px;
        min-height: 564px;
        padding: 21px 29px;
        background: #FFFFFF;
        box-shadow: 0px 24px 54px rgb(0 0 0 / 11%);
        border-radius: 20px;
        position: absolute;
        top: 160px;
        left: 14%;
        z-index: 3;

    }

    header .search {
        width: 610px;
        height: 74px;
        background: #FFFFFF;
        border-radius: 100px;
        padding: 5px;
        position: absolute;
        top: 84px;
        left: 27%;
        z-index: 3;

    }

    .jobs .right .text_description {
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        width: 550px;
        color: #002D42;
    }

    .jobs .right .flex_social {
        width: 550px;
        display: flex;
        justify-content: space-between;
    }

    .jobs .right .text_social {
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        margin-top: 3px;
        margin-bottom: 0;
        color: #002D42;
    }

    .modal .parent_inputs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 30px;
    }

    .modal .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 0px 20px 20px 20px !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 750px !important;
        margin: 1rem auto !important;
    }
}