.parent {
    display: flex;
    height: 100%;
}

.child_left {
    width: 50%;
    height: 100%;

}

.child_right {
    width: 50%;
    background: #002D42;
    padding-top: 40px;
    min-height: 100vh;

}

.text_support {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #002D42;
    margin: 0px;
    margin-left: 71px;
    margin-bottom: 18px;
    margin-top: 56px;
}

.faq {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #002D42;
    margin-left: 71px;
    margin-bottom: 200px;
}
.faq_href{
    color: #002D42;
    text-decoration: none;
}
.faq_href:hover{
    color: #002D42;
}
.img_student {
    margin-left: 190px;
}
.a_nazad:hover{
    color: #FFFFFF;

}
.a_nazad {
    width: 108px;
    height: 54px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1000px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 50px;
    padding: 16px 20px 16px 23.5px;
}

.img_left {
    margin-right: 11.5px;
    margin-bottom: 4px;
}

.child_bottom {
    margin-top: 70px;
    margin-left: 79px;
}

.text_h1 {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    margin: 0px;

}

.text_p2 {
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.4;
}

.input {
    margin-top: 40px;
}

.text_login {
    font-family: 'DM Sans' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;

    color: #FFFFFF;

    opacity: 0.7;
    margin: 0px;
    margin-bottom: 4px;

}

.input_login {
    border: none;
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    outline: none;
    color: #FFFFFF;

    opacity: 0.3;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-left: 0px;
}

.input_login1 {
    border: none;
    background-color: transparent;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    outline: none;
    color: #FFFFFF;

    opacity: 0.3;
    padding-bottom: 10px;
    padding-left: 0px;
}

.text_login1 {
    font-family: 'DM Sans' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;

    color: #FFFFFF;

    opacity: 0.7;
    margin-bottom: 4px;
    margin-top: 20px;

}

.btn_dale {
    width: 270px;
    height: 60px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #002D42;
    border: none;
    margin-top: 50px;
    background: #FFFFFF;
    border-radius: 5px;

}

.child_footer {
    display: flex;
    margin-top: 75px;
}

.text_accaunt {
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.text_zabil {
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #C3A182;
    margin-left: 11px;
}
.text_zabil_href{
    color: #C3A182;
    text-decoration: none;
}
.text_zabil_href:hover{
    color: #C3A182;
}
.text_accaunt_href{
    color: #FFFFFF;
    text-decoration: none;
}
.text_accaunt_href:hover{
    color: #FFFFFF;
}
@media screen and(min-width: 1600px) and (max-width: 2000px) {
    .img_student {
        margin-left: 290px;
    }
}